body {
  background-image: url("image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: Gilroy, sans-serif;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: white;
  text-align: center;
  min-height: 90vh;
  overflow: hidden;
}

img:hover {
  cursor: pointer;
}

input {
  border: 0;
  background-color: #d3d3d3;
  padding: 0.65rem;
  border-radius: 0.5rem;
  font-family: inherit;
}

select,
textarea,
button {
  font-family: inherit;
}

h1 {
  line-height: 1rem;
}

#output {
  font-size: 1.25rem;
  font-weight: bold;
}
